#nav{
    background: $color-white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    margin-bottom: 50px;

    #brand-name{
        font-size: 1.5em;
        font-weight: 800;
    }

    a{
        margin-left: 24px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;
        color: $color-black;
    }

    nav{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }
}

#nav a.router-link-exact-active {
    color: $color-pink;
  }