$color-white: #ffffff;
$color-black: #292e31;

$color-yellow: #ffea8e;
$color-pink: #ff008f;

$gradientDegrees: 135deg;

$feirceGradient : linear-gradient($gradientDegrees, $color-yellow, $color-pink);
